.user-data {
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    grid-template: minmax(auto, 30em) 2em / 1fr 1fr 1fr;
}

.img {
    grid-column: 1/4;
}

.bkg-img {
    width: 100%;
    max-width: 1400px;
    max-height: 30em;
}

.pfl-img {
    position: relative;
    top: -3em;
    left: 10%;
    width: 20%;
    min-width: 8em;
    max-width: 10em;
    border-radius: 100%;
    border: 0.4em solid rgb(88, 88, 194);
}

.username {
    grid-column: 1/4;
    font-size: 3em;
}